@font-face{
    font-family: "Fedra Bold";
    src: local(Fedra Sans Condensed Bold), local(FeSa-Cond-Std-Bold_17446),
    	url('../fonts/FeSa-Cond-Std-Bold_17446.ttf');
}

@font-face{
    font-family: "Fedra Light";
    src: local(Fedra Sans Condensed Light), local(FeSa-Cond-Std-Light_17452),
    url('../fonts/FeSa-Cond-Std-Light_17452.ttf');
}