* {
    padding: 0;
    margin: 0;    
}

html {
    height: 100px;
}



@font-face{
    font-family: "Fedra Bold";
    src:url('../fonts/FeSa-Cond-Std-Bold_17446.ttf');
}

@font-face{
    font-family: "Fedra Light";
    src:url('../fonts/FeSa-Cond-Std-Light_17452.ttf');
}

hr{
    border-color: rgb(0, 191, 255);
    border-width: 5px;
    width: 100px;
    max-width: 100px;
    margin: 25px auto;
    border-bottom: none;    
}

section {
    padding-top: 40px;
    padding-bottom: 60px;

}


section h1,
section h2,
section h4,
section h5{
    font-family: "Fedra Bold";
    text-transform: uppercase;
}

section h5{
    font-size: 20px;
}

section p{
    font-family: "Fedra Light";
    font-size: 20px;
}



.btn {
    background-color: transparent;
    border-color: white;
    margin-bottom: 50px;
    color: white;

}

.btn:hover {
    background-color: rgb(0, 43, 84);
    border-color: white;
    color: white;
}

@media(max-width: 768px){

    section p {
        font-size: 17px;
    }
}


/***** NAVBAR *****/

/*
.navbar{
    height: 60px;
}*/

.navbar-brand {
  padding: 0px;
  line-height: 60px;
}

.navbar-brand img {
  height: 100%;
  padding: 5px;
  width: auto;
  margin-left: 10px;
}





/***** HOME PAGE *****/

header {
    background-color: black;
}

.overlay{
    display: block;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html, body{
    height:100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*-o-background-size: cover;*/
}

.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
    display: block;
    transition: none;
}


.welcome {
    font-family: "Ellington MT";
    font-size: 30px;
    margin-bottom: 0px;
}

.main-heading{
    color: white;
    font-size: 70px;

}

.small-heading{
    color: white;
    font-size: 17.25px;
}

.title{ 
    color:white; 
    font-size:40px; }


.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.full-width {
    width: 100%;
}

@media(max-width:768px) {    
    .welcome {
        font-size: 15px;
    }

    .main-heading {
        font-size: 50px;
    }
}


/***** END HOME PAGE *****/




/***** ABOUT US *****/


.aboutUs {
    position: relative;
    padding: 80px 0;
    top: 0;
    left: 0;
}

.aboutUs .mission{
    padding-top: 30px;

}

/*
.about-videos {
    padding-top: 50px;
    margin-top: 20px;
}*/


.block-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
   position: relative;
}
.thumb{
    width:100%;
    height:auto;
}

.about-videos {
    padding-top: 30px;
}

.about-videos i{
    z-index: 1;
    color: white;
    font-size: 70px;
}

@media(max-width: 768px){

    .crest {
        max-width: 200px;
    }
}


/***** END ABOUT US *****/




/***** OUR VALUES *****/

.values {
    background-color: rgb(0, 43, 84);
    text-align: center;
}

.values h1,
.values h2,
.values h5 {
    /*color: #4c4c4c;*/
    margin: 20px 0 20px;
    color: white;
}

.values h2{
    padding: 25px;
}

.values p { 
    /*color: #737373;*/
    font-size: 14px;
    padding-bottom: 40px;
    color: white;
}

.values i {   
    height: 80px;
    width: 80px;
    /*font-size: 30px;*/
    font-size: 60px;
    /*padding: 25px 20px;*/
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 65%;
    color: white;
}


/***** END OUR VALUES *****/









.community{
    background-color: rgb(123, 121, 121);
    padding-top: 80px;
}

.community .row-1,
.community .row-3{
    background-color: white;
    /*width: 100%;*/
}

.community .row-2 {
    background-color: #F5F5F5;
    /*width: 100%;*/
}

.community .left-side{
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.community .right-side {
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.community .image i{
    z-index: 1;
    color: white;
    font-size: 70px;
}


@media(max-width: 768px){
    .community .left-side,
    .community .right-side {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.events {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.events img {
    padding-right: 50px;
    padding-left: 50px;
}

.events h1 {
    font-size: 70px;
}


@media(max-width: 768px){
    
    .events {
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .events img {
        padding-left: 0px;
        padding-right: 0px;
    }

    .events h1 {
        font-size: 50px;
    }
}




.famousphis {
    background-color: rgb(0, 43, 84);
}

.famousphis img{
    height: 150px;
    opacity: 0.9;
    text-align: center;
    margin-top: 30px;
}

.famousphis p,
.famousphis h1{
    margin: 0px;
    color: white;
    padding-top: 30px;
}


@media(max-width:768px) {    
    .btn {
        margin-bottom: 15px;
    }
}



.connect i {
    
    height: 52px;
    width: 52px;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgb(0, 43, 84);;
    color: white;
    padding-bottom: 30px;
}

.feed {
    margin-top: 30px;
    padding-top: 50px;
}

.instagram {
    padding-right: 40px;
    padding-left: 50px;
}

.facebook {
    padding-left: 30px; 
    padding-right: 30px;
}

@media(max-width:768px) {    
    .connect .container {
        width: 300px; 
    }

    .facebook {
        padding-left: 0px;
        padding-right: 0px;
        width: 300px; 
        margin-left: -25px;

    }

    .facebook iframe {
        height: 130px;
    }

    .connect i {
        padding-bottom: 0px;
    }

    .feed {
        padding-top: 0px;
    }
    
}





.footer {   
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {   
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer a {
    color: white;
}

.footer a:hover{
    color: gray;
}

@media(max-width:768px) {    
    .footer img{
        max-width: 300px;
    }
}

@media(max-width:350px){
    .footer img{
        max-width: 200px;
    }
}





